/* static/css/blog.css */

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f8f9fa;
}

/* Header custom styles */
.page-header {
    background-color: #f38181;
    margin-top: 0;
    padding: 20px 20px;
    border-radius: 0;
    color: #fff;
}

.page-header h1 a {
    color: #fff;
    text-decoration: none;
}

/* Post styles */
.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.post h3 {
    margin-top: 0;
}

/* Forms and buttons */
.post-form button, .btn-success {
    color: #fff;
    background-color: #56c79a;
    border-color: #46be8a;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
